@import "../../styles/variables.scss";

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 120rem;
  padding: 5rem 0;
  a {
    span {
      display: flex;
      color: $gray-500;
      font-weight: 600;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $gray-900;
      }

      img {
        margin: 0 0.25rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }

  .tmdb-logo {
    width: 7.5rem;
  }
}
