$CHAT-BLUE: #e5f1ff;
$CHAT-YELLOW: #fff4de;
$PURPLE: #7002fe;
$LIGHT-PURPLE: #bc81f7;

$slate-950: #020617;
$slate-900: #0f172a;
$slate-800: #1e293b;

$dark-blue: #192231;


$gray-950: #030712;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$zinc-500: #71717a;
$zinc-400: #a1a1aa;

$neutral-500: #737373;
$neutral-50: #fafafa;

$green-500: #22c55e;

$yellow-300: #fde047;

$red-600: #dc2626;
$red-500: #ef4444;
$red-400: #f87171;
$red-300: #fca5a5;
$red-200: #fecaca;
$red-50: #fef2f2;

$indigo-500: #6366f1;
$indigo-400: #818cf8;

$violet-500: #8b5cf6;
